[submodule "AiX"]
	path = AiX
	url = https://github.com/kira23j/AIx
[submodule "week-7@10academy"]
	path = week-7@10academy
	url = https://github.com/kira23j/medsight-ai
[submodule "ML-DL-Labs"]
	path = ML-DL-Labs
	url = https://github.com/kira23j/ML-DL-Labs
[submodule "Generative-Ai"]
	path = Generative-Ai
	url = https://github.com/kira23j/Generative-Ai
[submodule "Agentic-Ai"]
	path = Agentic-Ai
	url = https://github.com/kira23j/Agentic-Ai
